{
    "presets":[
      [
        "@babel/preset-env",
        {
          "targets":"defaults, > 1%, not dead, not ie <= 11",
          "modules":false,
          "useBuiltIns":"usage",
          "corejs":{"version":3,"proposals":false}
        }
      ],
      "@babel/preset-react"
    ],
    "plugins":[
      "@babel/transform-runtime",
      "@babel/plugin-proposal-class-properties",
      [
        "@emotion/babel-plugin-jsx-pragmatic",
        {"module":"theme-ui","import":"jsx","export":"jsx"}
      ],
      [
        "@babel/plugin-transform-react-jsx",
        {"pragma":"jsx","pragmaFrag":"React.Fragment"}
      ]
    ]
  }