// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix {
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
}

// Float either direction
.float-left {
  float: left;
}

.float-right {
  float: right;
}
