.content {
    margin-bottom: 3em;
}

.navbar-nav li.active a {
    background-color: #fff !important;
    border-bottom: 1px solid #ff0066;
}

.navbar-form {
    padding: 10px 15px;
    margin-right: 0px;
    margin-top: 1.6% !important;
}
.search-button {
    height: 100%;
    max-height: 30px;
    padding: 5px;
    color: #a0a0a0;
    background-color: #ccc;
    border: 1px solid transparent;
}
.search-button:hover,
.search-button:active,
.search-button:focus {
    color: #ccc;
    background-color: #a0a0a0;
}
.search-input {
    width: 100%;
    min-height: 0px;
    height: 30px;
    padding: 6px 12px !important;
    font-size: inherit;
}

.navbar-login-logo img {
    max-height: 50px;
    width: auto;
    margin-top: 3em;
}