@import url('https://fonts.googleapis.com/css?family=Merriweather');

.primary-logo {
  height: 4em;
  margin-top: 2em;
  margin-bottom: 1em;
}
body{
  background-color: #ffffff;
  color: #4d4d4d;
  letter-spacing: 1px;
}

.content {
  margin-bottom: 3em;
}

.login-box {
  max-width: 500px;
  margin: 0px auto;
  background-color: transparent;
  text-align: center;
}

.login-header {
  margin-bottom: 1em;
}

.topic-list {
  padding: 6px 20px;
}


.topic-item {
  margin-bottom: 1em;
}
.topic-item-title {
  font-size: 1.2em;
}

.topic-item-description {
  color: #a0a0a0;
}

.article-list {
padding: 10px 20px;
}

.article-item {
  margin-bottom: 2.5em;
}

.article-item-title {
  font-size: 2.5em;
  font-weight: 700;
  word-wrap: break-word;
}

.article-item-title a {
  color: #4d4d4d;
}

.article-item-title a:hover {
  color: #ff0066;
}

.article-item-description {
  color: #a0a0a0;
}

.list-title {
  color: #4d4d4d;
  padding: 6px 20px;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.page-title {
  margin-bottom: 2em;
  font-size: 1.5em;
  border-bottom: 1px solid #ff0066;
  color: #ff0066;
}

.single-article-title {
  font-weight: 700;
  font-size: 3.5em;
  margin-bottom: 10px;
}
.single-article-meta {
  color: #a0a0a0;
}

.article-heading {
  margin-bottom: 2em;
}

.single-article-body {
  font-family: "Merriweather", sans-serif;
  font-size: 1.5em;
  margin-bottom: 2em;
padding: 0em 1em;
}

.new-article .form-control {
  border: none;
}
.new-article textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus
{
    outline:0px !important;
    -webkit-appearance:none;
}

.new-article .input-title {
    font-weight: 700;
    font-size: 3em;
    height: auto;

}

.new-article .input-body {
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  padding: 10px 20px;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

textarea {
  resize: none;
}

.new-article-form {
}

.color-text {
  color: #ff0066;
}


/* .modal-fullscreen */

.modal-fullscreen {
  background: #fff;
  text-align: center;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

.modal-fullscreen .col-md-6 {
  float: none;
}
.modal-fullscreen .form-control {
  border: 1px solid #ccc;
}

.navbar-login-logo img {
  max-height: 50px;
  width: auto;
  margin-top: 3em;
}

.list-group-item {
  border: none;
}

.list-group hr {
  margin-top: 0em;
  margin-bottom: 0em;
}

.topic-select {
  background-color: #efefef;
}

.article-sidebar {
  padding: 2em 1em;
  border-left: 1px solid #efefef;
}

.sidebar-block {
  margin-bottom: 3em;
}

.sidebar-title {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  color: #a0a0a0;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.loading {
  border-radius: 50%;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  border: 0.25rem solid #ff0066;
  border-top-color: white;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.loader {
  text-align: center;
  max-width: 300px;
  padding: 10px;
  margin: 0px auto;
}

.what_changed {
  background-color: #efefef;
}

.list-group-item-heading {
  font-weight: 700;
}

@media screen and (min-width: 768px) {

.custom-collapse .collapse{
  			display:block;
      }
}

.bordered-scroll-box {
  overflow-y: scroll;
  border: 1px solid #ccc;
  height: 500px;
}

.bordered-box {
  border: 1px solid #ccc;
}


/*React-s-alert package css */

/* Common, default styles for the notification box */

.s-alert-box,
.s-alert-box * {
    box-sizing: border-box;
}

.s-alert-box {
    position: fixed;
    background: rgba(42,45,50,0.85);
    padding: 22px;
    line-height: 1.4;
    z-index: 1000;
    pointer-events: none;
    color: rgba(250,251,255,0.95);
    font-size: 100%;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    max-width: 300px;
    -webkit-transition: top .4s, bottom .4s;
    transition: top .4s, bottom .4s;
}

.s-alert-box.s-alert-show {
    pointer-events: auto;
}

.s-alert-box a {
    color: inherit;
    opacity: 0.7;
    font-weight: 700;
}

.s-alert-box a:hover,
.s-alert-box a:focus {
    opacity: 1;
}

.s-alert-box p {
    margin: 0;
}

.s-alert-box.s-alert-show,
.s-alert-box.s-alert-visible {
    pointer-events: auto;
}

.s-alert-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.s-alert-close:hover,
.s-alert-close:focus {
    outline: none;
}

.s-alert-close::before,
.s-alert-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    background: #fff;
}

.s-alert-close:hover::before,
.s-alert-close:hover::after {
    background: #fff;
}

.s-alert-close::before {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.s-alert-close::after {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* positions */

.s-alert-bottom {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
}
/* conditions */

.s-alert-info {
    background: #00A2D3;
    color: #fff;
}
.s-alert-success {
    background: #27AE60;
    color: #fff;
}
.s-alert-warning {
    background: #F1C40F;
    color: #fff;
}
.s-alert-error {
    background: #E74C3C;
    color: #fff;
}

[class^="s-alert-effect-"].s-alert-hide,
[class*=" s-alert-effect-"].s-alert-hide {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

/* height measurement helper */
.s-alert-box-height {
    visibility: hidden;
    position: fixed;
}


.center-align {
  text-align: center;
}

.number-bullet {
  background: #ff0066;
color: #fff;
padding: 0.5em;
font-weight: 700;
text-align: center;
font-size: 1.5em;
}

.setup-flow {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

.setup-form {
  margin-top: 2em;
  margin-bottom: 2em;
}

.fixed {
  position: fixed;
  z-index: 99;
  top: 0;

}

.archive-list {
  max-height: 600px;
overflow-y: scroll;
border: 1px solid #efefef;
}

.navbar-form {
  padding: 10px 15px;
  margin-right: 0px;
}

.search-button {
  height: 100%;
  max-height: 30px;
  padding: 5px;
  color: #a0a0a0;
  background-color: #ccc;
  border: 1px solid transparent;
}

.search-button:hover,.search-button:active, .search-button:focus {
  color: #ccc;
  background-color: #a0a0a0;
}

.search-input {
  width: 100%;
  min-height: 0px;
  height: 30px;
  padding: 6px 12px;
  font-size: inherit;

}

.result-info {
  border-bottom: 1px solid #efefef;
  padding: 10px 20px;
  margin-bottom: 20px;
}
.no-results {
  color: #a0a0a0;
  text-align: center;
}
.no-results .fa {
  font-size: 200px;
}
