@import url('https://fonts.googleapis.com/css?family=Vollkorn');

.primary-logo {
  height: 4em;
  margin-top: 2em;
  margin-bottom: 1em;
}
body{
  background-color: #ffffff;
  color: #4d4d4d;
  letter-spacing: 1px;
}

.content {
  margin-top: 3em;
}

.login-box {
  max-width: 500px;
  margin: 0px auto;
  background-color: transparent;
  text-align: center;
}

.login-header {
  margin-bottom: 1em;
}

.topic-list {
  padding: 6px 20px;
}


.topic-item {
  margin-bottom: 1em;
}
.topic-item-title {
  font-size: 1.2em;
}

.topic-item-description {
  color: #a0a0a0;
}

.article-list {
  border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
padding: 0em 2em;
}

.article-item {
  margin-bottom: 2.5em;
}

.article-item-title {
  font-size: 2em;
  font-weight: 700;
}

.article-item-title a {
  color: #4d4d4d;
}

.article-item-title a:hover {
  color: #ff0066;
}

.article-item-description {
  color: #a0a0a0;
}

.list-title {
  color: #4d4d4d;
  padding: 6px 20px;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.page-title {
  margin-bottom: 2em;
  font-size: 1.5em;
  border-bottom: 1px solid #ff0066;
  color: #ff0066;
}

.single-article-title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 10px;
}
.single-article-meta {
  color: #a0a0a0;
}

.article-heading {
  margin-bottom: 2em;
}

.single-article-body {
  font-family: "Vollkorn", sans-serif;
  font-size: 1.5em;
}

.new-article .form-control {
  border: none;
}
.new-article textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus
{
    outline:0px !important;
    -webkit-appearance:none;
}

.new-article .input-title {
    font-weight: 700;
    font-size: 3em;
}

.new-article .input-body {
  font-family: "Courier", sans-serif;
  font-size: 1.2em;
}

textarea {
  resize: none;
}

.new-article-form {
  border-right: 1px solid #ccc;
}

.color-text {
  color: #ff0066;
}


/* .modal-fullscreen */

.modal-fullscreen {
  background: #fff;
  text-align: center;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}

.modal-fullscreen .col-md-6 {
  float: none;
}
.modal-fullscreen .form-control {
  border: 1px solid #ccc;
}

.navbar-login-logo img {
  height: 40px;
  width: auto;
  margin-top: 3em;
}

.list-group a {
  border: none;
}

.list-group hr {
  margin-top: 0em;
  margin-bottom: 0em;
}

.topic-select {
  background-color: #efefef;
}

.article-sidebar {
  background-color: #efefef;
  padding: 2em 1em;
}

.sidebar-block {
  margin-bottom: 3em;
}

.sidebar-title {
  border-bottom: 1px solid #a0a0a0;
  padding: 5px;
}
